@charset "utf-8";
/* CSS Document */
body {
	text-indent: 40px;
	background-color: #FFEDEC;
}
p {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}
h3 {
	text-align: center;
	margin-top: 50px;
}

.box {
	width: 80%;
	margin-top: 175px;
	margin-left: 10%;
	margin-right: 10%;
}
.raise {
	background-color: rgba(200,230,255,.85);
	box-shadow: 0px 5px 50px 3px #000000;
}
.imageThink {
	position: absolute;
	top: 600px;
	left: 25%;
	right: 25%;
}
.imageLive {
	position: relative;
	top: 25px;
	left: 25%;
	right: 25%;
	margin-bottom: 100px;
}

/* WAS BACKGROUND IMAGE, BUT DOESN'T WORK WITH ASSIGNMENT
.picture1 {
	background-image: url('Think.jpg');
}
.picture2 {
	background-image: url('Live.jpg');
	background-size: 669px 678px;
}*/

.header {
	background-color: #FFFFFF; 
	height: 100px; 
	width: 100%; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px;
}
.headerText {
	font-size: 50px; 
	margin-top: -10px; 
	font-family: "Futura"; 
	text-align: center;
}
/*HOMEMADE FOOTER - PUT ON A DIV AS BACKUP*/
.footer {
	background-color: #FFFFFF; 
	height: 100px; 
	width: 100%; 
	position: absolute;
	top: 1300px;
	bottom: 0px; 
	left: 0px; 
	right: 0px;
}
/*FOOTER NOT REALLY WORKING:
When in relative, footer doesn't fill entire screen
When in absolute, fills screen but doesn't act as a footer
No position declaration does same as relative*/
.test {
	/*position: relative; 
	bottom: 0px; 
	left: 0px; 
	right: 0px;*/
	background-color: #FFFFFF; 
	height: 100px; 
	width: 100%; 
}











