@charset "utf-8";
/* CSS Document */
body {
	width: 80%;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	text-indent: 40px;
}
p {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.raise {
	background-color: rgba(200,230,255,.85);
	box-shadow: 0px 5px 50px 3px #000000;
}

.picture1 {
	background-image: url('Think.jpg');
}
.picture2 {
	background-image: url('Live.jpg');
	background-size: 669px 678px;
}

.header {
	background-color: #FFFFFF; 
	height: 100px; 
	width: 100%; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px;
	}
.headerText {
	font-size: 50px; 
	margin-top: -10px; 
	font-family: "Futura"; 
	text-align: center;
	}











