@charset "utf-8";
/*CSS Style Sheet*/
.firstDiv {
	width: 80%;
	height: 500px;
	margin: auto;
	margin-top: 10%;	
	background-color: #000000;
}
.text {
	font-size: 75px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 40%;
	font-family: "Arial";
	font-weight: bold;
}
.rainbow {
	background: -webkit-linear-gradient(red, orange, yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow:hover {
	background: -webkit-linear-gradient(blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}